<div class="container-fluid fill">

  <div class="container-fluid" id="title-wrapper">
      <h1>Temple stay is ... </h1>
      <!-- <blockquote>
          <p class="concept-text">Templestay is a unique cultural program which lets you experience the life of Buddhist practitioners at traditional temples which preserved the 1700 year old history of Korean Buddhism.</p>
      </blockquote> -->
  </div>

  <div class="container-fluid" id="card-wrapper-1">
      <div class="container card">
          <img class="card-img-top" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532686520/Yuzu%20project/concept/ac_jisya.jpg" alt="Card image cap">
          <div class="card-body">
            <h5>寺社修行</h5>
            <p class="card-text">Stay at a temple as a guest</p>
          </div>
        </div>
        <div class="container card">
            <img class="card-img-top" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532686520/Yuzu%20project/concept/ac_shahutsu.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>仏画</h5>
              <p class="card-text">Buddhist picture copying</p>
            </div>
          </div>
          <div class="container card">
              <img class="card-img-top" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532686520/Yuzu%20project/concept/ac_yoga.jpg" alt="Card image cap">
              <div class="card-body">
                <h5>ヨガについて </h5>
                <p class="card-text">Yoga</p>
              </div>
            </div>
  </div>

  <div class="container-fluid" id="card-wrapper-1">
      <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532686520/Yuzu%20project/concept/ac_kitsuke.jpg" alt="Card image cap">
          <div class="card-body">
            <h5>伝統の着衣</h5>
            <p class="card-text">Learn KIMONO manner</p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532686520/Yuzu%20project/concept/ac_budou.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>武道</h5>
              <p class="card-text">Practice martial arts</p>
            </div>
          </div>
          <div class="card">
              <img class="card-img-top" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532686520/Yuzu%20project/concept/ac_sadou.jpg" alt="Card image cap">
              <div class="card-body">
                <h5>茶道</h5>
                <p class="card-text">Sadou the Japanese tea culture</p>
              </div>
            </div>
  </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">