<div class="container-fluid fill" id="outer-wrapper">
  <div class="container-fluid title" id="title-wrapper">
    <h1 class="d-sm-flex">What is Shukubo ? </h1>
  </div>

  <div class="container-fluid content" id="content-wrapper">
    <!-- Carousel -->

    <div class="carousel slide" data-ride="carousel" id="carouselSlidesOnly">
        <div class="carousel-inner">
            <div class="carousel-item active">    <!--current image-->
              <img class="d-block w-100" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532192888/Shukubo_Koya-san_Eko-in2.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block" id="caption">  <!--Caption-->
                <h5>This is the first picture</h5>
                <p>Awesomne placeholder</p>
              </div>
            </div>

            <div class="carousel-item"> <!--second image-->
              <img class="d-block w-100" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532192884/koyasan1.jpg" alt="Second slide">
              <div class="carousel-caption d-none d-md-block" id="caption">
                <h5>This is second item</h5>
                <p>great place holder</p>
              </div>
            </div>


            <div class="carousel-item"> <!--second image-->
              <img class="d-block w-100" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532192887/Shukubo_Koya-san_Eko-in1.jpg" alt="Third slide">
              <div class="carousel-caption d-none d-md-block" id="caption">
                <h5>This is third item</h5>
                <p>The last place holder</p>
              </div>
            </div>
        </div>
    </div> <!-- Carousel -->
  </div>
</div>

