*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    color: #161925;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 2px;
  }

.fill {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px red solid; */
}

#title-wrapper {
    flex-grow: 1;
    text-align: center;
    /* background:yellow */
}

h1  {
    font-size: 10vh;
    font-family: 'Dosis';
    font-weight: 900;
    color:#161925;
    text-shadow: 2px 2px #e3e7af;
    padding-top: 6vh;
    padding-bottom: 6vh
}

.concept-text {
    text-align: left;
    /* background: red; */
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 3vh;
}

/* card */
#card-wrapper-1 {
    /* background: red; */
    display: flex;
    padding: 5vh 20vh 5vh 25vh;
}

.card {
    display: flex;
    margin: 0px 3vh 15px 3vh;
    justify-content: space-around;
    text-align: center;
    width: 45vh;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px #e3e7af;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h5 {
    color: #759eb8;
    padding: 10px 0px 5px;
}

.card-text {
    padding: 5px 0px
}




