<div class="container-fluid fill">
    <div id="placeholder"></div>
    <div id="title">
        My stays
    </div>
    <div class="container-fluid outer-wrapper" >
         <div class="row">
            <div class="col-sm-4 card" *ngFor="let oneBooking of bookings">
                <img class="card-img-top" [src]="oneBooking.templePicture" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">{{oneBooking.templeName}}</h3>
                        <ul>
                            <li>{{oneBooking.nights}} Nights</li>
                            <hr/>
                            <li>{{oneBooking.date | date:'dd/MM/yyyy'}}</li>
                            <hr/>
                            <li>{{oneBooking.guests}} Guests</li>
                            <hr/>
                            <li><i class="fas fa-euro-sign"></i>  {{oneBooking.totalCost}}</li>
                        </ul>
                        <a href="#" class="btn btn-primary"></a>
             </div>
            </div>    <!--CARD 1-->

            <!-- <div class="col-sm-4 card">
                    <img class="card-img-top" src="https://image.freepik.com/free-vector/geometric-grey-background_1055-3147.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title">Temple Name</h3>
                            <ul>
                                <li>Night</li>
                                <hr/>
                                <li>DATE</li>
                            <hr/>
                                <li>Guest</li>
                                <hr/>
                                <li><i class="fas fa-euro-sign"></i>  Price</li>
                            </ul>
                            <a href="#" class="btn btn-primary"></a>
                 </div>
                </div>    -->


        </div>
    </div>

</div>





<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">




<!-- Include children components -->
<!-- <section-booking-details></section-booking-details> -->
