<div class="container-fluid fill">
    <div id="placeholder"></div>
    <div id="title">
        My stays
    </div>
    <div class="container-fluid outer-wrapper">
         <div class="row">
            <div class="col-sm-4 card">
                <img class="card-img-top" src="https://res.cloudinary.com/dzblxtdk3/image/upload/v1532512850/Yuzu%20project/Henjokoin/Henjokoin3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">Koyasan</h3>
                        <ul>
                            <li>2 Nights</li>
                            <hr/>
                            <li>2018.08.01</li>
                            <hr/>
                            <li>2 Guests</li>
                            <hr/>
                            <li><i class="fas fa-euro-sign"></i>  180</li>
                        </ul>
                        <a href="#" class="btn btn-primary"></a>
             </div>
            </div>    <!--CARD 1-->
            <div class="col-sm-4 card">
                    <img class="card-img-top" src="https://image.freepik.com/free-vector/geometric-grey-background_1055-3147.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h3 class="card-title">Temple Name</h3>
                            <ul>
                                <li>Night</li>
                                <hr/>
                                <li>DATE</li>
                            <hr/>
                                <li>Guest</li>
                                <hr/>
                                <li><i class="fas fa-euro-sign"></i>  Price</li>
                            </ul>
                            <a href="#" class="btn btn-primary"></a>
                 </div>
                </div>    <!--CARD 2-->


        </div>
    </div>

</div>





<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">




<!-- Include children components -->
<!-- <section-booking-details></section-booking-details> -->
