p {font-size: 3vh}

.fill {
  margin: 0;
  padding: 0;
  border: 1px red solid;
}


.carousel-inner {
  height: 80vh
}
/*
h1 {
    font-size: 15vh;
    font-family: 'Dosis';
    font-weight: 900;
}

.location-icon {
    display: inline-block;
    width: 3vh;
    height:3vh;
    background: url("https://res.cloudinary.com/dzblxtdk3/image/upload/v1532294858/Yuzu%20project/_ionicons_svg_md-locate.svg")
;   padding-right: 3vh
} */

