<section class="container-fluid fill">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">KOYASAN</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        <hr class="my-4">
        <div class="location">
          <span class="location-icon"></span>
          <p>Koyasan, Japan</p>
        </div>
    </div><!-- JUMBOTRON -->
  </div>
</section>

<!-- scroller -->
<div class="mouse_scroll">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    <div>
      <span class="m_scroll_arrows unu"></span>
      <span class="m_scroll_arrows doi"></span>
      <span class="m_scroll_arrows trei"></span>
    </div>
</div>