* {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #161925
}

.fill {
    min-height: 100%;
    height:100%;
}

h1 {
    font-size: 8vh;
    font-family: 'Dosis';
    font-weight: 900;
    }

i{
    color:#161925;
    font-size: 1em;
    /* border: 1px red solid; */
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
}

#info {
    padding-top: 3vh;
}

h2{
    font-weight: 600;
    font-size: 1em
}

.inner-wrapper {
    display: flex;
    flex-direction: row
}

span {padding-right:2vw}

#description {
    padding-top: 5vh;
    padding-bottom: 5vh}

#amenities {
    padding-bottom: 2vh
}

#cancel {
    padding-top: 3vh
}

.nameJP {
    color: #ffc72c;
    font-weight:600
}