<section class="container-fluid row fill">
  <div class="container" id="title">
      <h1 class="nameENG">{{ templeItem.nameENG }} </h1>
      <h3 class="nameJP"> {{ templeItem.nameJPG }} </h3>
      <p class="address">{{ templeItem.address }}</p>

  </div>

  <div class="container" id="info">
    <div class="container-fluid inner-wrapper">
      <span>{{ templeItem.guests }} guests</span>
      <span>{{ templeItem.beds }} beds</span>
      <span>{{ templeItem.bath }} baths</span>
    </div>
  </div>

  <div class="container" id="description">
    <p>{{ templeItem.description }}</p>
  </div>
  <div class="container" id="amenties">
    <div class="wifi"> Wifi </div>
    <div class="essentials"> Essentials </div>
    <div class="kitchen"> Kitchen </div>
    <div class="tv"> TV </div>
    <div class="airconditioning"> Air conditioning </div>
  </div>
</section>
