<div class="container-fluid px-0 fill">

    <!-- The video -->
  <!-- <video autoplay loop id="video-background" muted plays-inline>
    <source src="https://res.cloudinary.com/dzblxtdk3/video/upload/v1532437075/Yuzu%20project/sakura.mp4" type="video/mp4">
  </video> -->

  <div class="container" id="content-wrapper">
    <div id="placeholder"></div>
    <div id="content">
      <div id="content-wrapper">
          <h2 class="t-stroke t-shadow">Discover A Beautiful Temple</h2>
          <h2 class="t-stroke t-shadow">For Body and Mind</h2>
      </div>
    </div>
    <div id="placeholder"></div>
  </div>

  <div class="mouse_scroll">
      <div class="mouse">
        <div class="wheel"></div>
      </div>
      <div>
        <span class="m_scroll_arrows unu"></span>
        <span class="m_scroll_arrows doi"></span>
        <span class="m_scroll_arrows trei"></span>
      </div>
  </div>

</div>