<section  class="container-fluid fill">
    <div class="name-wrapper">
        <h1>Mount Kōya</h1>
    </div>

    <div class="text-wrapper">
            <a href="/temples"
             role="button" class="btn-fluid btn-primary">See this location</a>
    </div>

    <div class="container-fluid row outer-wrapper">
        <div class="col-lg-2 placeholder"></div>

        <div class="col-lg-8 content-wrapper">
            <div class="container-fluid row inner-wrapper">   <!-- Inned wrapper -->
                <div class="col-lg-7 pic-wrapper">
                    <div class="picture"></div>
                </div>        <!-- picture wrapper -->

                <div class="col-lg-5 map-wrapper">

                    <p class="text">Mount Koya (高野山, Kōyasan) is the center of Shingon Buddhism, an important Buddhist sect which was introduced to Japan in 805 by Kobo Daishi (also known as Kukai), one of Japan's most significant religious figures. A small, secluded temple town has developed around the sect's headquarters that Kobo Daishi built on Koyasan's wooded mountaintop. It is also the site of Kobo Daishi's mausoleum and the start and end point of the Shikoku 88 Temple Pilgrimage.</p>
                </div>        <!-- map wrapper -->
            </div>
        </div>

        <div class="col-lg-2 placeholder"></div>
    </div>

</section>


<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">