*{
    margin: 0;
    padding: 0;
  }

.fill {
    min-height: 100%;
    height:100%;
    /* border: 1px orange dashed; */
    /* for z index */
    position: relative;
}

h1{
    font-size: 10vh;
    font-weight: 800;
    font-family: "Dosis";
    text-shadow: 2px 2px gold;
    padding-left: 5vw
}

.name-wrapper {
    background-image: url("https://res.cloudinary.com/dzblxtdk3/image/upload/v1532281322/half-noodle_2x.png");
    background-size: 60%;
    background-position: 0% 45%;
    background-repeat: no-repeat;
    width: 100vh;
    height: auto;
    position: absolute;
    z-index: 2;
    left: 70vh;
    top: 15vh;
    text-align: center;
}



.text-wrapper {
    width:100vh;
    height: 20vh;
    position:absolute;
    z-index: 2;
    left: 42vh;
    top: 90vh;

    font-weight: 400;
    font-size: 1.5vw
}


/* Imgae wrapper happens below */

.outer-wrapper {
    height: 100%;
}


.placeholder {
    /* background:orange; */
    height: 100%;
}

.content-wrapper {
    /* background:grey; */
    height: 100%;
}

.inner-wrapper {
    height: 100%
}

.pic-wrapper {
    /* background:lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-wrapper {
    /* background:lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    background: purple;
    height: 80%;
    width: 80%;
    align-self: center;
    background-image: url("https://res.cloudinary.com/dzblxtdk3/image/upload/v1532192891/koyasan5.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


/* REPLACE WITH GOOGLE MAP */
.map {
    background: purple;
    height: 50%;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 10vh;
    background-image: url("https://res.cloudinary.com/dzblxtdk3/image/upload/v1532215424/samplemap.png");
    background-size: cover;
    filter: grayscale(1)
}

