<section  class="container-fluid fill">
    <div class="name-wrapper">
        <h1>Ikumo</h1>
    </div>

    <div class="text-wrapper">
            <a routerLink="/temple/5b585732f6f8181b045c84f2" role="button" class="btn-fluid btn-primary">See this temple</a>
    </div>

    <div class="container-fluid row outer-wrapper">
        <div class="col-lg-2 placeholder"></div>

        <div class="col-lg-8 content-wrapper">
            <div class="container-fluid row inner-wrapper">   <!-- Inned wrapper -->
                <div class="col-lg-7 pic-wrapper">
                    <div class="picture"></div>
                </div>        <!-- picture wrapper -->

                <div class="col-lg-5 map-wrapper">

                    <p class="text">A shukubo lodging known as Ikumo can be found on top of Mt. Engyo. It is a place that purifies and reincarnates both mind and body. It offers spectacular panoramic views of the Kaga Plain, Japan Sea, and the sacred Mt. Hakusan. Facilities here are advanced and eco-friendly and tries to maintain balance with nature. They serve “shojin ryouri” or Buddhist vegetarian cuisine. You can also experience quiet relaxation activities such as musical meditation and shakyo (copying sutra by hand) or attend a fire festival in the morning. Their outdoor bath can also be another way to attune more peace and quiet with your inner self.</p>
                </div>        <!-- map wrapper -->
            </div>
        </div>

        <div class="col-lg-2 placeholder"></div>
    </div>

</section>


<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">