<div  class="container-fluid px-0 fill">
    <div class="offset content-wrapper-name">
        <h1>KOYASAN KIO</h1>
    </div>

    <div class="container wrapper">
        <div class="content-wrapper-pic">pic</div>
        <div class="content-wrapper-map">map</div>
    </div>

    <div class="content-wrapper-description">
        <p>Is the content in a straight line or column (cards, navigation items, or other content blocks)? For occasions that require elements to line up in one direction, meaning it is more “one-dimensional”, typically Flexbox is the better option. </p>
        <button type="button" class="btn btn-dark">Stay for zen</button>
    </div>


</div>
