<div class="container-fluid fill">
    <section-temple-splash class="splash"></section-temple-splash>
</div>
<!-- Children components -->

<div class="container-fluid outer-wrapper">
    <section-temple-info class="info"></section-temple-info>

    <section-reserve-form [temple]="templeItem" class="form"></section-reserve-form>
</div>

<!-- map -->
<div class="container-fluid map-wrapper">
  <div>
      <agm-map [latitude]="templeItem?.geoLocation[0]" [longitude]="templeItem?.geoLocation[1]">
          <agm-marker [latitude]="templeItem?.geoLocation[0]" [longitude]="templeItem?.geoLocation[1]" ></agm-marker>
      </agm-map>
    </div>
</div>

