<section  class="container-fluid row fill">

  <!-- <div class="goback"><a routerLink = "/"><i class="fas fa-arrow-left"></i></a></div> -->
  <div class="col-md-4 text-outter-wrapper">
    <div class="container-fluid row text-container">
          <div class="container text-inner-wrapper" id="title">Top-rated Shukubo </div>
          <div class="container text-inner-wrapper">All temple rooms are planned for a comfortable stay, but if you are not sure about your choice, we will gladly help you find the most suitable</div>
          <div class="container text-inner-wrapper">Highly reviewed by locals and travelers worldwide.</div>
    </div>

  </div>    <!--TEXT-->


  <div class="col-md-8 image-outter-wrapper">
    <div class="container-fluid row image-inner-wrapper">
      <!-- <a [routerLink]="['/temple', oneTemple._id ]">STUFF</a> -->
      <div class="col-md-4 container grid" *ngFor="let oneTemple of temples">
        <!--(click)="templeClick(oneTemple._id)"  -->
          <img class="img-thumbnail image" [src]="oneTemple.picture[3]">
          <div class="middle">
              <a class="text" [routerLink]= "['/temple', oneTemple._id]"  >{{oneTemple.nameENG}} </a>
              <p class="location" >{{oneTemple.city}} </p>
          </div>
       </div>
    </div>
  </div>   <!--CARDS GALLERAY-->

</section>


<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">