<section  class="container-fluid row fill">

  <div class="col-md-4 text-outter-wrapper">
    <div class="container-fluid row text-container">
          <div class="container text-inner-wrapper" id="title">de Finibus Bonorum et Malorum</div>
          <div class="container text-inner-wrapper">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,</div>
          <div class="container text-inner-wrapper">1914 translation by H. Rackham</div>
    </div>
  </div>    <!--TEXT-->


  <div class="col-md-8 image-outter-wrapper">
    <div class="container-fluid row image-inner-wrapper">
      <div class="col-sm-4 image" id="imageOne"></div>
      <div class="col-sm-4 image" id="imageTwo"></div>
      <div class="col-sm-4 image" id="imageThree"></div>
    </div>
    <div class="container-fluid row image-inner-wrapper">
        <div class="col-sm-8 image" id="imageFour"></div>
        <div class="col-sm-4 image" id="imageFive"></div>
    </div>

  </div>   <!--CARDS GALLERAY-->

</section>


<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">