
/* Dropdown menu */
#drpDownMenu {
    position: fixed;
    z-index: 2;
    display: block;
    right: 10vh;
    top: 10vh;
}
#dropdownMenuButton {
    background-color: #161925;
    color: #f3efe0;
    height: 10vh;
    width: 10vh;
    font-size: 50%
}



/* logo */

/* #lotus {
    width:8em;
    position: fixed;

} */

#logo {
    position: fixed;
    display: block;
    z-index: 2;
    /* border: 1px red solid; */
    left: -5vh;
    /* top: 5vh; */
    height: 25vh;
    width: 25vh;
    display: block;
    background-image: url("https://res.cloudinary.com/dzblxtdk3/image/upload/v1532692170/Yuzu-logo.svg");
    background-repeat: none;
    background-size: cover;
}

    /* font-family: "Dosis";
    font-weight: 800;
    text-align: center; */



footer{
    margin:0;
    padding:0;
    color:#759eb8;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    padding-top: 5vh
}

/* LOGO and lotus */


#lotus-animation {
    height: 8%;
    width: 80%;

}



