
<div class="container-fluid fill">
  <div id="placeholder"></div>
  <div id="placeholder"></div>

  <div class="container form-wrapper">    <!-- form -->
  <form (ngSubmit)="signupSubmit()">
      <h2>Create an account</h2>

      <button type="button" class="btn btn-light btn-lg btn-block google">Sign up with Google</button>
      <hr />

      <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input [(ngModel)]="signupForm.email" name="email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="">
      </div>


      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input [(ngModel)]="signupForm.originalPassword" name="originalPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="***********">
        <small id="passwordHelp" class="form-text text-muted">6 to 20 letters with at least 1 number</small>
      </div>
      <div class="form-group">
        <label for="exampleInputFirstName">First Name</label>
        <input [(ngModel)]="signupForm.firstName" name="firstName" type="text" class="form-control" id="exampleInputFirstName" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputLastName">Last Name</label>
        <input [(ngModel)]="signupForm.lastName" name="lastName" type="text" class="form-control" id="exampleInputLastName" placeholder="">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Please email me great deals, last-minute offers and information about the temple stays</label>
      </div>
      <p class="agreement">By signing up you accept the <a href="">Terms and Conditions and Privacy Policy</a></p>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Create account</button>
    </form>
    <span>Already have an account? </span><a routerLink="/authentication">  Log In</a>
  </div>  <!--Form-->

  <div id="placeholder"></div>
  <div id="placeholder"></div>
</div>

<link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">